---
import { Icon } from "astro-icon";
---

<div class="flex container items-center justify-between mx-auto py-4">
  <div class="flex gap-8 items-center">
    <div class="border rounded-full w-fit p-2">
      <Icon pack="lucide" name="mail" class="w-8 h-8 text-black" />
    </div>
    <p class="text-black font-medium">rajdeepds626@gmail.com</p>
  </div>
  <div class="gap-10 font-medium text-black hidden md:flex">
    <a href="">Projects</a>
    <a href="">Resume</a>
    <a href="">Skills</a>
    <a href="">Contact</a>
  </div>
</div>
