---
import Button from "./ui/button.astro";
---

<div
  class="flex flex-col justify-center text-center items-center space-y-8 max-w-[25rem] mx-auto mt-32"
>
  <div class="bg-cyan h-32 w-32 rounded-full"></div>
  <div class="flex items-center gap-2">
    <h1 class="font-medium text-[1.57rem]">Hi, I'm Rajdeep</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="29"
      viewBox="0 0 20 29"
      fill="none"
    >
      <path
        d="M9.86858 28.6316C4.75118 28.6316 1.19307 24.8697 1.19307 19.4797V15.3544L0.689675 7.75933C0.650386 7.19946 0.770709 6.68379 1.04082 6.30563C1.3183 5.92011 1.72347 5.69665 2.22195 5.66227C2.2686 5.65982 2.3128 5.65736 2.357 5.65736C3.29994 5.65736 3.96049 6.37439 4.03907 7.48185C4.03907 7.49167 4.04152 7.50395 4.04152 7.51377L4.94517 13.1861C4.97464 13.3629 5.12688 13.4955 5.30614 13.4955C7.63402 13.5078 10.7379 13.8 13.4071 14.2543C13.4267 14.2568 13.4488 14.2592 13.4684 14.2592C13.547 14.2592 13.6231 14.2347 13.687 14.188C13.768 14.1291 13.8196 14.0382 13.8319 13.9375L15.234 2.83101C15.234 2.82118 15.2364 2.81382 15.2364 2.80399C15.2954 1.69899 15.9437 0.981964 16.8841 0.981964C16.9185 0.981964 16.9553 0.981964 16.9897 0.98442C17.4784 1.01143 17.8835 1.22261 18.1586 1.5934C18.4287 1.95928 18.5613 2.46267 18.5318 3.01026L17.6134 15.3446C17.6061 15.4477 17.6429 15.5508 17.7141 15.6245C18.9566 16.9309 19.4649 20.3024 18.107 23.47C17.2844 25.4026 15.121 28.6316 9.86858 28.6316Z"
        fill="url(#paint0_radial_23_18)"></path>
      <path
        d="M16.8866 1.35523C16.9136 1.35523 16.9431 1.35523 16.9725 1.35769C17.9155 1.40925 18.2052 2.2687 18.1684 2.99064L17.25 15.3249C17.2353 15.5312 17.3065 15.7375 17.4514 15.8873C18.0407 16.5085 18.4311 17.6234 18.522 18.9494C18.6202 20.4055 18.3526 21.9623 17.7657 23.3325C16.975 25.1742 14.8951 28.2658 9.85386 28.2658C7.37374 28.2658 5.21775 27.3818 3.70758 25.712C2.27353 24.1232 1.43863 21.9108 1.43863 19.4798V15.3544C1.43863 15.3397 1.48283 15.3225 1.48283 15.3078L1.01873 7.73234C0.962254 6.93182 1.32322 6.09447 2.23424 6.03063C2.27107 6.02817 2.31527 6.02572 2.3521 6.02572C3.24593 6.02572 3.62163 6.82378 3.66829 7.50888C3.67074 7.53098 3.6732 7.55308 3.67811 7.57272L4.58176 13.2451C4.63824 13.6011 4.94518 13.8639 5.30615 13.8663C7.61438 13.8786 10.6961 14.1684 13.3481 14.6202C13.3899 14.6276 13.4316 14.63 13.4734 14.63C13.6305 14.63 13.7852 14.5809 13.9129 14.4851C14.075 14.3648 14.1806 14.1856 14.2051 13.9867L15.6072 2.87768C15.6097 2.86049 15.6122 2.8433 15.6122 2.82611C15.6441 2.14838 16.0026 1.35523 16.8866 1.35523ZM16.8866 0.618561C15.6932 0.618561 14.9393 1.56641 14.873 2.78683L13.4709 13.8958C10.9859 13.471 7.8452 13.1444 5.30861 13.1321L4.40496 7.45977C4.31901 6.23198 3.54796 5.2915 2.35456 5.2915C2.30054 5.2915 2.24652 5.29396 2.19004 5.29641C0.905776 5.38727 0.166651 6.49964 0.257507 7.7839L0.701964 15.3544V19.4798C0.701964 24.715 4.16186 29 9.8072 29C19.4478 29 20.7443 18.3035 17.9621 15.379L18.8928 3.03729C18.9616 1.77268 18.2715 0.692228 17.0069 0.621016C16.9652 0.618561 16.9283 0.618561 16.8866 0.618561Z"
        fill="#EDA600"></path>
      <path
        opacity="0.4"
        d="M9.33817 25.1349C13.4487 25.1349 16.781 22.6349 16.781 19.551C16.781 16.467 13.4487 13.967 9.33817 13.967C5.22762 13.967 1.89536 16.467 1.89536 19.551C1.89536 22.6349 5.22762 25.1349 9.33817 25.1349Z"
        fill="url(#paint1_radial_23_18)"></path>
      <path
        d="M14.5489 20.2533C13.6379 19.9856 12.636 19.8899 11.7569 20.3171C10.8484 20.7591 10.3892 21.648 10.0233 22.5419C9.84404 22.9814 10.5562 23.1705 10.733 22.7383C11.035 22.0016 11.4205 21.2527 12.1965 20.9335C12.8963 20.6437 13.6477 20.7567 14.3525 20.9654C14.8092 21.098 15.0032 20.3883 14.5489 20.2533Z"
        fill="#EDA600"></path>
      <path
        d="M11.2265 19.0353C11.1799 19.0353 11.1308 19.0328 11.0841 19.0304C10.5316 18.996 10.0208 18.7529 9.68689 18.3649C9.40696 18.0432 9.2719 17.643 9.30382 17.2427L9.67707 12.5968C9.74828 11.7226 10.5905 11.0375 11.5949 11.0375C11.6415 11.0375 11.6906 11.04 11.7373 11.0424C12.2898 11.0768 12.8005 11.3199 13.1345 11.7079C13.4144 12.0296 13.5495 12.4298 13.5176 12.8301L13.1443 17.476C13.0756 18.3502 12.2333 19.0353 11.2265 19.0353Z"
        fill="url(#paint2_radial_23_18)"></path>
      <path
        d="M11.5948 11.4059C11.6341 11.4059 11.6734 11.4083 11.7152 11.4108C12.1719 11.4403 12.5869 11.6367 12.857 11.9486C13.0093 12.1229 13.1811 12.4127 13.1517 12.8007L12.7784 17.4466C12.7244 18.1317 12.0418 18.667 11.2265 18.667C11.1872 18.667 11.1479 18.6645 11.1086 18.6621C10.6519 18.6326 10.2369 18.4362 9.96435 18.1243C9.81211 17.95 9.64022 17.6602 9.66968 17.2722L10.0429 12.6263C10.0994 11.9437 10.7796 11.4059 11.5948 11.4059ZM11.5948 10.6692C10.4014 10.6692 9.39466 11.4918 9.30871 12.5674L8.93547 17.2133C8.84461 18.3404 9.79737 19.3177 11.0595 19.3988C11.116 19.4012 11.17 19.4037 11.2265 19.4037C12.4199 19.4037 13.4267 18.5811 13.5126 17.5055L13.8859 12.8596C13.9767 11.7325 13.024 10.7552 11.7618 10.6741C11.7053 10.6717 11.6513 10.6692 11.5948 10.6692Z"
        fill="#EDA600"></path>
      <path
        d="M7.31975 18.7406C6.3056 18.7406 5.46088 18.0776 5.35529 17.1986L4.89365 13.3851C4.84453 12.9725 4.96731 12.56 5.23988 12.2187C5.56647 11.811 6.07968 11.5483 6.64446 11.4918C6.71813 11.4845 6.7918 11.482 6.86301 11.482C7.87716 11.482 8.72187 12.145 8.82746 13.0241L9.28911 16.8376C9.33822 17.2501 9.21544 17.6651 8.94287 18.004C8.61628 18.4116 8.10307 18.6743 7.53829 18.7308C7.46462 18.7357 7.39341 18.7406 7.31975 18.7406Z"
        fill="url(#paint3_radial_23_18)"></path>
      <path
        d="M6.86542 11.8479C7.67821 11.8479 8.38051 12.3832 8.464 13.0658L8.92564 16.8793C8.97475 17.2796 8.80778 17.5865 8.65799 17.7707C8.39278 18.0997 7.97288 18.3158 7.50633 18.36C7.44494 18.3649 7.38355 18.3699 7.32216 18.3699C6.50937 18.3699 5.80707 17.8345 5.72358 17.1519L5.26194 13.3384C5.21283 12.9381 5.37981 12.6312 5.52959 12.447C5.7948 12.118 6.2147 11.9019 6.68125 11.8577C6.74264 11.8528 6.80403 11.8479 6.86542 11.8479ZM6.86542 11.1112C6.78193 11.1112 6.69599 11.1161 6.61004 11.1235C5.32087 11.2463 4.39021 12.2776 4.52772 13.4268L4.98937 17.2403C5.11951 18.3134 6.13612 19.1065 7.3197 19.1065C7.40319 19.1065 7.48914 19.1016 7.57508 19.0942C8.86425 18.9715 9.79491 17.9401 9.6574 16.7909L9.19575 12.9774C9.06561 11.9068 8.04655 11.1112 6.86542 11.1112Z"
        fill="#EDA600"></path>
      <mask
        id="mask0_23_18"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="6"
        y="15"
        width="13"
        height="9"
      >
        <path
          d="M8.33633 15.3618C6.81388 15.1899 6.38415 16.7443 6.64444 17.6921C6.90473 18.64 7.91643 19.3938 8.88883 19.4159C12.3806 19.4921 13.191 20.1035 13.5348 21.0906C14.0087 22.451 15.3813 23.362 16.145 23.4234C18.4533 23.61 18.6964 20.8426 18.414 18.9543C18.0137 16.2851 13.5765 15.4527 13.5765 15.4527C13.5765 15.4527 9.06318 15.4453 8.33633 15.3618Z"
          fill="white"></path>
      </mask>
      <g mask="url(#mask0_23_18)">
        <path
          d="M15.7595 24.4105C15.6196 24.4105 15.4747 24.4007 15.3273 24.3811C14.9516 24.332 14.4261 22.6671 14.1732 21.8666C14.0725 21.5498 13.9768 21.2404 13.881 20.9678C13.412 19.6197 12.1056 19.1163 8.89621 19.0451C8.06623 19.0279 7.21415 18.3748 6.99806 17.5939C6.88756 17.1887 6.91703 16.5552 7.24853 16.123C7.45234 15.8529 7.7421 15.7178 8.10798 15.7178C8.16691 15.7178 8.23075 15.7203 8.2946 15.7277C8.99444 15.8062 12.9258 15.8185 13.5078 15.821C15.6343 16.619 18.9616 18.3649 19.0156 19.7425C19.077 21.2871 18.6374 22.6671 17.8099 23.529C17.255 24.106 16.5453 24.4105 15.7595 24.4105Z"
          fill="url(#paint4_linear_23_18)"></path>
        <path
          d="M8.108 16.0861C8.15465 16.0861 8.20376 16.0886 8.25288 16.0935C8.95026 16.1721 12.587 16.1868 13.439 16.1893C13.8049 16.3317 14.9615 16.7982 16.1058 17.4342C18.4312 18.7259 18.6399 19.5387 18.6497 19.7572C18.7062 21.2035 18.306 22.4853 17.5472 23.2736C17.0561 23.7843 16.4545 24.0446 15.762 24.0446C15.6613 24.0446 15.5557 24.0397 15.4501 24.0274C15.1555 23.7426 14.7331 22.4092 14.5268 21.756C14.4237 21.4344 14.3279 21.1274 14.2297 20.8475C13.6969 19.3201 12.3046 18.7529 8.90606 18.6792C8.25042 18.6645 7.52357 18.112 7.35414 17.4981C7.26574 17.1764 7.30012 16.6632 7.54076 16.3464C7.67827 16.1672 7.85753 16.0861 8.108 16.0861ZM8.108 15.3495C6.77217 15.3495 6.39647 16.7958 6.64448 17.6921C6.90477 18.6399 7.91646 19.3938 8.88887 19.4159C12.3807 19.492 13.191 20.1034 13.5348 21.0906C14.0087 22.451 14.5219 24.6487 15.2807 24.7494C15.4452 24.7715 15.6048 24.7813 15.7595 24.7813C18.0653 24.7813 19.492 22.4878 19.384 19.7277C19.298 17.5717 13.5765 15.4526 13.5765 15.4526C13.5765 15.4526 9.06321 15.4452 8.33637 15.3617C8.25779 15.3519 8.18166 15.3495 8.108 15.3495Z"
          fill="#EDA600"></path>
      </g>
      <defs>
        <radialGradient
          id="paint0_radial_23_18"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(9.57955 1.32433) rotate(90.125) scale(26.9303 11.9005)"
        >
          <stop stop-color="#FFB300"></stop>
          <stop offset="0.6888" stop-color="#FFCA28"></stop>
          <stop offset="1" stop-color="#FFB300"></stop>
        </radialGradient>
        <radialGradient
          id="paint1_radial_23_18"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(9.33768 19.5515) scale(6.57944)"
        >
          <stop offset="0.3" stop-color="#FBC02D"></stop>
          <stop offset="1" stop-color="#FFB300" stop-opacity="0"></stop>
        </radialGradient>
        <radialGradient
          id="paint2_radial_23_18"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(11.6416 12.2162) rotate(94.2768) scale(6.43742 2.30831)"
        >
          <stop offset="0.5993" stop-color="#FFCA28"></stop>
          <stop offset="1" stop-color="#FFB300"></stop>
        </radialGradient>
        <radialGradient
          id="paint3_radial_23_18"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(6.79455 13.3437) rotate(82.4413) scale(4.81104 2.04022)"
        >
          <stop offset="0.5993" stop-color="#FFCA28"></stop>
          <stop offset="1" stop-color="#FFB300"></stop>
        </radialGradient>
        <linearGradient
          id="paint4_linear_23_18"
          x1="11.3382"
          y1="15.6625"
          x2="16.7823"
          y2="23.5433"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFCA28"></stop>
          <stop offset="1" stop-color="#FFB300"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="relative">
    <h1 class="font-medium font-sans text-3xl text-center">
      Building Full Stack Web Projects, Open Source
    </h1>
    <svg
      class="absolute top-7 left-9 -z-10"
      xmlns="http://www.w3.org/2000/svg"
      width="128"
      height="11"
      viewBox="0 0 128 11"
      fill="none"
    >
      <path
        d="M1.01202 9C4.88424 7.36638 75.6174 -5.89903 127.531 9"
        stroke="#C2FFF8"
        stroke-width="3"></path>
    </svg>
  </div>
  <p class="text-xl">
    A junior from India, an <b>open-source</b> enthusiast, a learner. I'm
    passionate about <b>software development</b> and tech.
  </p>
  <Button title="connect with me" />
</div>
