---

---

<div>
  <div class="relative">
    <h1 class="font-medium text-3xl">Resume</h1>
    <svg
      class="absolute top-7 -z-40"
      xmlns="http://www.w3.org/2000/svg"
      width="127"
      height="12"
      viewBox="0 0 127 12"
      fill="none"
    >
      <path
        d="M1 6.50001C1 6.50001 76.5 -5.00014 126 9.99997"
        stroke="#EBC1FF"
        stroke-width="3"></path>
    </svg>
  </div>
  <div class="grid md:grid-cols-2 md:mt-10">
    <div class="mt-10 md:mt-0">
      <div class="relative">
        <h1 class="font-medium text-2xl">Tech Stacks</h1>
        <svg
          class="absolute top-6 -z-40"
          xmlns="http://www.w3.org/2000/svg"
          width="135"
          height="18"
          viewBox="0 0 135 18"
          fill="none"
        >
          <path
            d="M1 9.64716C1 9.64716 81.332 -11.227 134 16"
            stroke="#FFF9C4"
            stroke-width="3"></path>
        </svg>
      </div>
      <div class="grid grid-cols-2 mt-10">
        <div class="space-y-4">
          <p class="text-xl">C</p>
          <p class="text-xl">Java</p>
          <p class="text-xl">JavaScript</p>
          <p class="text-xl">TypeScript</p>
          <p class="text-xl">HTML</p>
          <p class="text-xl">CSS</p>
          <p class="text-xl">Tailwind CSS</p>
        </div>
        <div class="space-y-4">
          <p class="text-xl">React.js</p>
          <p class="text-xl">Next.js</p>
          <p class="text-xl">GraphQL</p>
          <p class="text-xl">MongoDB</p>
          <p class="text-xl">PostgreSQL</p>
          <p class="text-xl">Prisma</p>
          <p class="text-xl">Kotlin</p>
        </div>
      </div>
    </div>
    <div class="mt-10 md:mt-0">
      <div class="relative">
        <h1 class="font-medium text-2xl">Education</h1>
        <svg
          class="absolute top-6 -z-40"
          xmlns="http://www.w3.org/2000/svg"
          width="130"
          height="18"
          viewBox="0 0 130 18"
          fill="none"
        >
          <path
            d="M1 9.64716C1 9.64716 78.312 -11.227 129 16"
            stroke="#FF3D00"
            stroke-opacity="0.26"
            stroke-width="3"></path>
        </svg>
      </div>
      <div class="grid grid-rows-2 space-y-10 mt-10">
        <div class="">
          <p class="text-xl font-medium">Pearls Of God</p>
          <p class="text-lg flex items-center">
            ISC <span class="w-1 h-1 rounded-full bg-black mx-2"></span> Higher
            Secondary
          </p>
          <p class="">2021</p>
        </div>
        <div class="">
          <p class="text-xl font-medium">Bangabasi College</p>
          <p class="text-lg flex items-center">BSC Computer Science Honours</p>
          <p class="">2022 - 2025</p>
        </div>
      </div>
    </div>
  </div>
</div>
