---
import SkillBox from "./ui/skill-box.astro";
---

<!-- <div class="relative bg-purple/25 md:w-2/4 md:h-[453px] mb-10">
  <div class="flex justify-center">
    <h1>Skills</h1>
  </div>
  <div class="absolute w-full h-full grid grid-cols-3 justify-items-center content-center flex-nowrap">
    <SkillBox
      title="Full Stack Development"
      desc="I am adept at Full Stack Web Development, possessing the expertise to conceptualize, design, and execute comprehensive web projects from frontend to backend seamlessly."
    />
    <SkillBox
      title="UI/UX Design"
      desc="I am a UI/UX Designer, with a keen eye for detail and a passion for creating beautiful and intuitive user interfaces."
    />
    <SkillBox
      title="AI/ML"
      desc="I've recently decided to embark on a journey into AI/ML, eager to unlock the vast potential of these technologies and incorporate their transformative capabilities into my skill set."
    />
  </div>
</div> -->

<!-- <div
  class="bg-purple/25 md:w-2/4 md:h-[453px] grid grid-cols-3 gap-4 content-center justify-center mb-10 "
>
  <SkillBox
    title="Full Stack Development"
    desc="I am adept at Full Stack Web Development, possessing the expertise to conceptualize, design, and execute comprehensive web projects from frontend to backend seamlessly."
  />
  <SkillBox
    title="UI/UX Design"
    desc="I am a UI/UX Designer, with a keen eye for detail and a passion for creating beautiful and intuitive user interfaces."
  />
  <SkillBox
    title="AI/ML"
    desc="I've recently decided to embark on a journey into AI/ML, eager to unlock the vast potential of these technologies and incorporate their transformative capabilities into my skill set."
  />
</div> -->




<!-- <div class="relative bg-purple/25 mb-10">
  <div class="flex justify-center">
    <h1 class="text-center">Skills</h1>
  </div>
  <div class="w-full h-full grid grid-cols-1 border-radius-lg">
    <SkillBox
      title="Full Stack Development"
      desc="I am adept at Full Stack Web Development, possessing the expertise to conceptualize, design, and execute comprehensive web projects from frontend to backend seamlessly."
    />
    <SkillBox
      title="UI/UX Design"
      desc="I am a UI/UX Designer, with a keen eye for detail and a passion for creating beautiful and intuitive user interfaces."
    />
    <SkillBox
      title="AI/ML"
      desc="I've recently decided to embark on a journey into AI/ML, eager to unlock the vast potential of these technologies and incorporate their transformative capabilities into my skill set."
    />
  </div>
</div> -->


<div class="relative bg-purple/25 md:w-2/4 md:h-[453px] mb-10">
  <div class="flex justify-center pt-5">
      <h1>Skills</h1>
  </div>
  <div class="absolute top-1/2 transform -translate-y-1/2 w-full flex justify-center">
      <div class="bg-white w-72 px-4 py-8 gap-1 rounded-md absolute left-0 translate-x-[-50%]">
          <h1 class="font-medium text-2xl">Full Stack Development</h1>
          <p>I am adept at Full Stack Web Development, possessing the expertise to conceptualize, design, and execute comprehensive web projects from frontend to backend seamlessly.</p>
      </div>
      <div class="bg-white w-72 h-[191px] px-4 py-8 gap-1 rounded-md">
          <h1 class="font-medium text-2xl">DevOps</h1>
          <p>I am a UI/UX Designer, with a keen eye for detail and a passion for creating beautiful and intuitive user interfaces.</p>
      </div>
      <div class="bg-white w-72 px-4 py-8 gap-1 rounded-md absolute right-0 translate-x-[50%]">
          <h1 class="font-medium text-2xl">AI/ML</h1>
          <p>I've recently decided to embark on a journey into AI/ML, eager to unlock the vast potential of these technologies and incorporate their transformative capabilities into my skill set.</p>
      </div>
  </div>
</div>